
<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <h1>SOBRE NÓS</h1>
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p> <h4>A Chapolin Veículos é uma empresa especializada no comércio de automóveis, há incriveis 3 dias no meio automobilístico, 
                        conquistando com muito trabalho e principalmente respeito, uma ampla carteira de clientes.
                         Líder de mercado e especialista no segmento, sendo reconhecida como a maior e mais 
                        requisitada revendedora de automóveis de Matão e região, proporcionando a todos uma experiência de compra e venda totalmente segura. 
                        </h4></p>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#contact"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Contate-nos
                                </a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/blog"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Blog</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>