<section class="hero is-fullheight has-text-centered has-background-white-ter" id="seminovos">
    <h1>VEÍCULOS SEMINOVOS</h1>
    <div class="hero-body">

       
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="img/corsa.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">CELTA</h5>
                    <p class="card-text">O chevrolet Celta é um dos carros usados que considero com melhor desempenho. 
                        Além de ser gostoso de dirigir,
                         e fácil de manobrar, também é bastante econômico e confortável em percurso urbano..</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="img/civic.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">HONDA CIVIC</h5>
                    <p class="card-text">Categoria de Sedan Médio, mas com um pé na de Sedan Premium. Motor, além de ter excelente desempenho,
                         é econômico. Espaço de sobra para todos e excelente porta-malas.
                          Posição de dirigir que te deixa com o carro na mão, além do conforto!</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="img/unoSemi.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">FIAT UNO</h5>
                    <p class="card-text">o carro é muito bom de andar, confortável, tem um motor muito bom e silencioso.
                         Não tem como falar deste carro sem mencionar o consumo,
                         é muito bom, na cidade é surpreendente, entre 13 e 14KM/l. Andar com ele é muito fácil, a direção é super leve</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>

        </div>
        </div>
</section>